body{
    background-color: brown;
    display: flex;
}

div.inputs{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

div input.input{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}