body{
    background-color:rgba(216, 216, 216, 0.677);    
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    font-size: x-large;
}
div.game{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}
button.home{
    background-color: rgb(136, 136, 136);
    border-radius: 5px;
    
    height: 80px;
    width: 80px;
}
button.text_home{
    font-size: medium;
    color: red;
    background-color: none;
    background-color: rgb(136, 136, 136);;
    padding: 0;
 
}
div.user{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}